/* DrumTracksSection.css */

#drumtracks_half {
    display: none;
}

#drumtracks_full {
    display: none;
}

#drumtracks_section_wrap {}

#drumtracks[aria-hidden="true"] .drumtrack,
#drumtracks[aria-hidden="true"] h3 {
    display: none;
}

.drumtracks_section_wrap {
    max-width: none;
    width: 100%;
}

#drumtracks.section-border {
    padding-left: 0;
    width: 100%;
}

.beat {
    text-align: center;
    vertical-align: middle;
    line-height: 1;
    display: inline-flex;
    /*width: 1.9em;*/
    width: 1.4em;
    height: 1em;
    background-color: #ccc;
    border: 1px solid black;
    box-sizing: border-box;
    /*
    min-width: 40px;
    min-height: 30px;
    */
    justify-content: center;
    flex-direction: column;
    margin: 0.15em;
}

.beat:hover {
    cursor: pointer;
}

.beat:focus {
    outline: 5px dotted black;
}

.beat.active {
    background-color: yellow;
}

button.clear_track {
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5em;
    display: block;
}

.drumtracks {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drumtracks h3 {
    font-size: 0.8em;
    margin-top: 0.5em;
    margin-bottom: -0.25em;
    text-align: center;
    width: 100%;
    overflow-wrap: break-word;
}

.trash .drumtracks h3 {
    text-align: left;
    margin-left: 1em;
}

.drumtrack {
    position: relative;
}

[data-current_beat="1"] [data-beat="1"],
[data-current_beat="2"] [data-beat="2"],
[data-current_beat="3"] [data-beat="3"],
[data-current_beat="4"] [data-beat="4"],
[data-current_beat="5"] [data-beat="5"],
[data-current_beat="6"] [data-beat="6"],
[data-current_beat="7"] [data-beat="7"],
[data-current_beat="8"] [data-beat="8"],
[data-current_beat="9"] [data-beat="9"],
[data-current_beat="10"] [data-beat="10"],
[data-current_beat="11"] [data-beat="11"],
[data-current_beat="12"] [data-beat="12"],
[data-current_beat="13"] [data-beat="13"],
[data-current_beat="14"] [data-beat="14"],
[data-current_beat="15"] [data-beat="15"],
[data-current_beat="16"] [data-beat="16"] {
    background-color: #999;
}

[data-current_beat="1"] [data-beat="1"].active,
[data-current_beat="2"] [data-beat="2"].active,
[data-current_beat="3"] [data-beat="3"].active,
[data-current_beat="4"] [data-beat="4"].active,
[data-current_beat="5"] [data-beat="5"].active,
[data-current_beat="6"] [data-beat="6"].active,
[data-current_beat="7"] [data-beat="7"].active,
[data-current_beat="8"] [data-beat="8"].active,
[data-current_beat="9"] [data-beat="9"].active,
[data-current_beat="10"] [data-beat="10"].active,
[data-current_beat="11"] [data-beat="11"].active,
[data-current_beat="12"] [data-beat="12"].active,
[data-current_beat="13"] [data-beat="13"].active,
[data-current_beat="14"] [data-beat="14"].active,
[data-current_beat="15"] [data-beat="15"].active,
[data-current_beat="16"] [data-beat="16"].active {
    background-color: #cbd033 !important;
}

.drumtracks[aria-hidden="true"] {
    display: none;
}

.quarter {
    margin: 0.25em;
    white-space: nowrap;
}

.half {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*margin-top: 0.5em;*/
    justify-content: center;
}

.beats {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
}

.beat_number {}

.trash .clear_track {
    position: absolute;
    margin-top: -0.3em;
    margin-bottom: 0;
    right: -1.5em;
    background-color: transparent;
    border: 0;
    padding: 0;
    bottom: calc(50% - 0.7em);
}

.trash .clear_track .fa {
    font-size: 1.25em;
}

.drumtrack .clear_track:hover {
    cursor: pointer;
}

.drumtrack .clear_track:focus {
    outline: 3px dotted black;
}

#drumtracks_half,
#drumtracks_full {
    position: absolute;
}

@media screen and (min-width: 11.5em) {
    .beat {
        width: 1.9em;
    }
}

@media screen and (min-width: 21em) {
    .beat:focus {
        outline: 3px dotted black;
    }
}

@media screen and (min-width: 27em) {
    #drumtracks_half {
        display: block;
    }

    #drumtracks_full {
        display: none;
    }

    #drumtracks_section_wrap[data-hidden="true"] {
        width: 25em;
        max-width: calc(100vw - 1em);
    }

    .beats {
        grid-template-columns: 50% 50%;
    }

    .drumtracks_section_wrap {
        width: auto;
    }

    .drumtracks h3 {
        margin-top: 0;
    }

    #drumtracks.section-border {
        padding-top: 1em;
    }
}

@media screen and (min-width: 50em) {
    #drumtracks_half {
        display: none;
    }

    #drumtracks_full {
        display: block;
    }

    .beats {
        grid-template-columns: 25% 25% 25% 25%;
    }
}